@font-face {
  font-family: AlternateGothicProCyrillic;
  src: url(./assets/AlternateGothicProCyrillic.woff2);
}
@font-face {
  font-family: RobotoMono-Regular;
  src: url(./assets/RobotoMono-Regular.woff2);
}

.mainContainer {
  background-color: #272727;
  color: white;
  flex-direction: column;
  font-family: RobotoMono-Regular;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* START */

.titleContainer {
  color: rgb(255, 72, 72);
  display: flex;
  flex-direction: column;
  font-family: AlternateGothicProCyrillic;
  font-size: 80px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputButton {
  border: 2px solid rgb(255, 72, 72);
  background-color: transparent;
  color: white;
  padding: 8px 24px;
  margin: 8px;
  font-size: 22px;
  border-radius: 24px;
  cursor: pointer;
}

.inputButton:hover {
  background-color: rgb(255, 72, 72);
  color: white;
}

/* HOME */

.homePage {
  height: 100vh;
  width: 100vw;
  background-color: #272727;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RobotoMono-Regular;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.homePage span {
  color: rgb(102, 102, 102);
}

.homePage button {
  border: 2px solid rgb(255, 72, 72);
  background-color: transparent;
  color: white;
  padding: 8px 24px;
  margin: 8px;
  font-family: RobotoMono-Regular;
  font-size: 22px;
  border-radius: 24px;
  cursor: pointer;
}

.homePage button:hover {
  background-color: rgb(255, 72, 72);
  color: white;
}

/* LOGIN & SIGNUP */

.formContainer {
  background-color: #565656;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.formContainer > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  font-family: AlternateGothicProCyrillic;
  font-size: 60px;
  color: rgb(255, 72, 72);
}

.formContainer > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.formContainer div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.formContainer input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.formContainer input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.formContainer button {
  border: 2px solid rgb(255, 72, 72);
  background-color: transparent;
  color: white;
  padding: 8px 24px;
  margin: 8px;
  font-size: 22px;
  border-radius: 24px;
  cursor: pointer;
}

.formContainer button:hover {
  background-color: rgb(255, 72, 72);
  color: white;
}

span a {
  text-decoration: none;
  color: rgb(255, 72, 72);
}